<div class="ui container">

  <!-- steps -->
  <div class="ui fluid mobile stackable mini steps">
    <div class="step">
      <i class="address card outline icon"></i>
      <div class="content">
        <div class="title">
          Profile
        </div>
        <div class="description">
          Setup your profile
        </div>
      </div>
    </div>
    <div class="active step">
      <i class="users icon"></i>
      <div class="content">
        <div class="title">
          Join
        </div>
        <div class="description">
           Join organization
        </div>
      </div>
    </div>
    <div class="step">
      <i class="building outline icon"></i>
      <div class="content">
        <div class="title">
          Create
        </div>
        <div class="description">
          Create organization
        </div>
      </div>
    </div>
  </div>
  <!-- end steps -->

  <!-- begin join workspace segment -->
  <div class="ui segment">
    <div class="ui centered grid">
      <div class="ui sixteen wide mobile eight wide tablet eight wide computer center aligned column">
        <div class="ui basic segment">
          <h2 class="ui icon dividing blue header">
            <%= image_tag("connection.svg", class: "ui image") %>
            <div class="content">
              Join a workspace
            </div>
          </h2>

          <%= form_for(@membership, html: {class: 'ui form'}) do |f| %>
            <div class="field">
              <h4 class="ui grey header"><em>Become a member of an already existing workspace</em></h4>
            </div>
            <div class="field">
              <div class="ui fluid labeled input">
                <div class="ui label">
                  code #
                </div>
                <%= text_field_tag :sign_up_code, nil, placeholder: 'Enter sign up code here', autofocus:true %>
              </div>
            </div>
            <%= f.submit "Join", class:'ui large blue button' %>
          <% end %>

          <div class="ui horizontal divider">
            OR
          </div>
          <%= link_to new_workspace_path, class:'ui basic blue labeled icon button' do %>
            Create a new workspace
            <i class="add icon"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- end join workspace segment -->

  <div class="ui grid">
    <div class="center aligned row">
      <div class="column">
        <div class="ui horizontal divided link list">
          <div class="item">
            <div class="content">
              <div class="header">
                <%= link_to 'Cancel', authenticated_root_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
