<div class="ui large secondary menu">
  <%= link_to authenticated_root_path, class:'header item' do %>
    <%= image_tag "online-payment.png", class:'logo' %>
    Cecilia™
  <% end %>

  <div class="right menu">
    <div class="item">
      <div class="ui dropdown" data-tooltip="Notifications" data-position="bottom right" data-inverted="">
        <i class="ui circular inverted bell link icon"></i>
        <div class="floating ui red circular label">14</div>
        <div class="menu">
          <div class="ui items">
            <div class="item">
              <div class="content">
                <a href="#" class="header">Message 2</a>
                <div class="meta">
                  <span>01/02/2019</span>
                </div>
                <div class="description">
                  Message summary here...
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a href="#" class="header">Message 2</a>
                <div class="meta">
                  <span>01/01/2019</span>
                </div>
                <div class="description">
                  Message 2 summary here...
                </div>
              </div>
            </div>
          </div>
          <div class="ui divider"></div>
          <div class="item">
            <span class="description">14 new</span>
            <span class="text">View all</span>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="ui dropdown" data-tooltip="Account" data-position="bottom right" data-inverted="">
        <!-- <a href="#"><span><%#= image_tag("rangoli.png", class: "ui avatar image") %></span></a> -->
        <i class="ui circular inverted user link icon"></i>
        <div class="ui menu">
          <div class="ui items">
            <div class="item">
              <div class="content">
                <div class="header">
                  User Name
                </div>
                <div class="meta">
                  <%= current_user.email %>
                </div>
                <div class="description">
                  <%= link_to "Account settings", edit_user_registration_path %>&emsp;
                  <%= link_to destroy_user_session_path, class: 'ui blue basic button', method: :delete do %>
                    Sign out
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
