<div class="ui one column centered grid container">

  <div class="row">

  </div>

  <div class="row">
    <div class="sixteen wide mobile ten wide tablet ten wide computer column">

      <%= devise_error_messages! %>

      <div id="sign_up_form_segment" class="ui blue segment shadowless">

        <div class="ui computer reversed grid">

          <!-- form column -->
          <div class="ui sixteen wide mobile ten wide tablet ten wide computer column">

            <div class="ui basic segment">
              <h2 class="ui header">
                <%= image_tag("online-payment.png", class: "ui image") %>
              </h2>

              <h2 class="ui header">Sign up</h2>
              <h4 class="ui header">to continue to Cecilia™</h4>

              <div class="ui hidden divider"></div>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:'ui form' }) do |f| %>
                <div class="field">
                  <div class="field <%= "error" if resource.errors.details.key? :email %>">
                    <%= f.email_field :email, autofocus: true, placeholder: 'email' %>
                  </div>
                  <span><small><%= "You will receive a verification email at this address." %></small></span>
                </div>

                <div class="ui hidden divider"></div>
                <div class="ui hidden divider"></div>

                <div class="field">
                  <div class="two fields">
                    <div class="field <%= "error" if resource.errors.details.key? :password %>">
                      <% if @minimum_password_length %>
                        <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
                      <% else %>
                        <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
                      <% end %>
                    </div>

                    <div class="field <%= "error" if resource.errors.details.key? :password_confirmation %>">
                      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'confirmation' %>
                    </div>
                  </div>

                  <span><small><%= "Use a minimum of #{@minimum_password_length} characters. Please use a combination of letters and numbers." %></small></span>
                </div>
              <% end %>
            </div>

            <div class="ui left aligned basic segment">
              <b><%= link_to "Sign in instead", new_session_path(resource_name) %></b>

              <!-- <input type="submit" name="commit" value="Log in" data-disable-with="Log in" form="new_user"> -->
              <%= submit_tag "Next", form: "new_user", class: "ui right floated blue button" %>
            </div>
          </div>

          <!-- graphic column -->
          <div class="ui sixteen wide mobile six wide tablet six wide computer middle aligned column">
            <div class="ui basic segment">
              <%= image_tag("abstract.png", class: "ui image") %>
            </div>
          </div>
          <!-- end graphic column -->

        </div>

      </div>

      <!-- bottom link row -->
      <div class="ui grid">
        <div class="two column row">
          <div class="left aligned column">
            <%= link_to "lbrnm™", "#"%>
          </div>
          <div class="right aligned column">
            <%= link_to "help", "#"%>&emsp;
            <%= link_to "about", "#"%>&emsp;
            <%= link_to "terms", "#"%>
          </div>
        </div>
      </div>
      <!-- end bottom link row -->

    </div>
  </div>

</div>
