<div class="ui container">
  <div class="ui computer reversed grid">

    <div class="sixteen wide mobile twelve wide tablet twelve wide computer column">
      <h2 class="ui header">
        <div class="content">
          <%= link_to @wallet.name, @wallet %>
          <div class="sub header">
            ₵1200 available
          </div>
        </div>
      </h2>

      <!-- <div class="ui blue segment"> -->
        <h1 class="ui center aligned header">Disbursements</h1>
        <table class="ui very basic table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Date created</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% @wallet.disbursements.each do |disbursement| %>
              <tr>
                <td><%= link_to disbursement.description, disbursement %></td>
                <td><%= disbursement.created_at %></td>
                <td><%= disbursement.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <!-- </div> -->
    </div>

    <!-- side menu -->
    <div class="sixteen wide mobile four wide tablet four wide computer column">
      <div class="row">
        <div class="item">
          <h2 class="ui header">
            <%= (@wallet.workspace.name).truncate(23) %>
            <div class="sub header">
              <button class="ui basic tiny blue fluid button switch_workspace">switch workspace</button>
            </div>
          </h2>
          <!-- begin workspace selection modal -->
          <div class="ui long large modal select_workspace">
            <div class="header">
              Your workspaces
            </div>
            <div class="content">
              <% if current_user.workspaces.count > 1 %>
                <div class="ui equal width center aligned divided stackable grid">
                  <% current_user.workspaces.reject { |w| w == @wallet.workspace }.each do |w| %>
                    <div class="column">
                      <h3 class="ui header"><%= w.name.truncate(23) %></h3>
                      <% if w.description.blank? || w.description.nil? %>
                        <p><i>No description</i></p>
                      <% else %>
                        <p><%= w.description.truncate(23) %></p>
                      <% end %>
                      <%= link_to 'Select', w, class:'ui basic blue button' %>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <p>Click <%= link_to 'here', new_membership_path %> to join/create a new workspace</p>
              <% end %>
            </div>
            <div class="actions">
              <%= link_to 'Join/Create Workspace', new_membership_path, class:'ui left floated green basic button' %>
              <div class="ui red basic cancel button">
                <i class="remove icon"></i>
                Cancel
              </div>
            </div>
          </div>
          <!-- end workspace selection modal -->
        </div>
      </div>
      <div class="row">
        <div class="ui blue fluid huge pointing vertical secondary menu">
          <a href="#" class="header item">Overview</a>
          <%= link_to '#', class: 'item' do %>
            <!-- <i class="left envelope icon"></i> -->
            SMS messaging
          <% end %>
          <%= link_to '#', class: 'active item' do %>
            <!-- <i class="left dollar icon"></i> -->
            Money disbursement
          <% end %>
          <div class="ui divider"></div>
          <%= link_to '#', class: 'item' do %>
            <!-- <i class="left question icon"></i> -->
            Help
          <% end %>
        </div>
      </div>
    </div>
    <!-- end side menu -->

  </div>
</div>
