<div class="ui one column middle center aligned grid container">
  <div class="row">

  </div>

  <div class="row">
    <div class="sixteen wide mobile six wide tablet six wide computer column">

      <div id="login_form_segment" class="ui blue segment shadowless">

        <h2 class="ui header">
          <%= image_tag("online-payment.png", class: "ui image") %>
        </h2>

        <!-- <h2 class="ui header">
          <div class="content">
            Sign in
            <div class="sub header">
              to continue to cecilia™
            </div>
          </div>
        </h2> -->

        <h2 class="ui header">Sign in</h2>
        <h4 class="ui header">to continue to Cecilia™</h4>

        <div class="ui hidden divider"></div>

        <div class="ui one column middle center aligned grid">
          <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui basic segment">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class:'ui form' }) do |f| %>
              <div class="field">
                <%= f.email_field :email, autofocus: true, placeholder: 'email' %>
              </div>

              <div class="field">
                <%= f.password_field :password, autocomplete: "off", placeholder: 'password' %>
              </div>
            <% end %>
            </div>

            <div class="ui left aligned basic segment">
              <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                <b><%= link_to "New account", new_registration_path(resource_name) %></b>
              <% end -%>

              <!-- <input type="submit" name="commit" value="Log in" data-disable-with="Log in" form="new_user"> -->
              <%= submit_tag "Log in", form: "new_user", class: "ui right floated blue button" %>
            </div>

            <div class="ui basic segment">
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
              <% end -%>
            </div>

          </div>
        </div>

      </div>

      <div class="ui grid">
        <div class="two column row">
          <div class="left aligned column">
            <%= link_to "lbrnm™", "#"%>
          </div>
          <div class="right aligned column">
            <%= link_to "help", "#"%>&emsp;
            <%= link_to "about", "#"%>&emsp;
            <%= link_to "terms", "#"%>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
