<div class="ui container">
  <div class="ui computer reversed grid">

    <div class="sixteen wide mobile twelve wide tablet twelve wide computer column">
      <h1 class="ui header">
        <div class="content">
          <%= @disbursement.description %>
          <div class="sub header">
            <%= "Created: " + @disbursement.created_at.to_formatted_s(:long) %>
          </div>
        </div>
      </h1>

      <div class="ui computer reversed grid">
        <div class="sixteen wide mobile four wide tablet four wide computer column">
          <div class="ui card">
            <div class="content">
              <div class="header"><%= @disbursement.wallet.name %></div>
              <div class="meta">
                <span>balance</span>
              </div>
              <div class="description">
                <h3 class="ui green header"><%= number_to_currency(@disbursement.wallet.available_balance, unit:"₵") %> available</h3>
                <h5 class="ui grey header"><%= number_to_currency(@disbursement.wallet.actual_balance, unit:"₵") %> actual</h5>
              </div>
            </div>
            <div class="extra content">
              <div class="right floated">
                updated <%= Time.now.to_formatted_s :short %>
              </div>
            </div>
          </div>
        </div>

        <div class="sixteen wide mobile twelve wide tablet twelve wide computer column">
          <div class="ui segment">
            <%= form_for([@disbursement, @transfer], html: {class: 'ui form'}) do |f| %>
              <h3 class="ui center aligned dividing header">Add transfer</h3>
              <div class="field <%= "error" if @transfer.errors.details.key? :beneficiary_name %>">
                <%= f.label :beneficiary_name %>
                <%= f.text_field :beneficiary_name, autofocus: true, placeholder: 'Name of beneficiary' %>
              </div>
              <div class="field <%= "error" if @transfer.errors.details.key? :msisdn %>">
                <%= f.label :msisdn, 'MSISDN' %>
                <%= f.text_field :msisdn, autofocus: true, placeholder: 'Target phone number' %>
              </div>
              <div class="field <%= "error" if @transfer.errors.details.key? :amount %>">
                <%# add js to display fee and total amount in this row %>
                <%= f.label :amount %>
                <%= f.number_field :amount, step: 0.01, autofocus: true, placeholder: 'Amount to be transfered' %>
              </div>
              <%= f.submit "Add", class:"ui large green right floated button" %>
              <%= link_to "Cancel", @disbursement, class:"ui large red basic button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- side menu -->
    <div class="sixteen wide mobile four wide tablet four wide computer column">
      <div class="row">
        <div class="item">
          <h2 class="ui header">
            <%= (@disbursement.wallet.workspace.name).truncate(23) %>
            <div class="sub header">
              <button class="ui basic tiny blue fluid button switch_workspace">switch workspace</button>
            </div>
          </h2>
          <!-- begin workspace selection modal -->
          <div class="ui long large modal select_workspace">
            <div class="header">
              Your workspaces
            </div>
            <div class="content">
              <% if current_user.workspaces.count > 1 %>
                <div class="ui equal width center aligned divided stackable grid">
                  <% current_user.workspaces.reject { |w| w == @disbursement.wallet.workspace }.each do |w| %>
                    <div class="column">
                      <h3 class="ui header"><%= w.name.truncate(23) %></h3>
                      <% if w.description.blank? || w.description.nil? %>
                        <p><i>No description</i></p>
                      <% else %>
                        <p><%= w.description.truncate(23) %></p>
                      <% end %>
                      <%= link_to 'Select', w, class:'ui basic blue button' %>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <p>Click <%= link_to 'here', new_membership_path %> to join/create a new workspace</p>
              <% end %>
            </div>
            <div class="actions">
              <%= link_to 'Join/Create Workspace', new_membership_path, class:'ui left floated green basic button' %>
              <div class="ui red basic cancel button">
                <i class="remove icon"></i>
                Cancel
              </div>
            </div>
          </div>
          <!-- end workspace selection modal -->
        </div>
      </div>
      <div class="row">
        <div class="ui blue fluid huge pointing vertical secondary menu">
          <a href="#" class="header item">Overview</a>
          <%= link_to '#', class: 'item' do %>
            <!-- <i class="left envelope icon"></i> -->
            SMS messaging
          <% end %>
          <%= link_to '#', class: 'active item' do %>
            <!-- <i class="left dollar icon"></i> -->
            Money disbursement
          <% end %>
          <div class="ui divider"></div>
          <%= link_to '#', class: 'item' do %>
            <!-- <i class="left question icon"></i> -->
            Help
          <% end %>
        </div>
      </div>
    </div>
    <!-- end side menu -->

  </div>
</div>
