<!DOCTYPE html>
<html>
  <head>
    <title>Cecilia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%  if user_signed_in? %>
      <!-- main navbar -->
      <%= render 'components/main_navbar' %>
    <% end %>

    <!-- <div class="ui basic segment"> -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    <!-- </div> -->
  </body>
</html>
