<!DOCTYPE html>
<html>
  <head>
    <title>Cecilia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>

    <meta name="turbolinks-cache-control" content="no-cache"> <!-- disabling turbolinks 5 caching so that page js works on clicking back in browser -->
    <%= favicon_link_tag 'online-payment.png' %> <!-- favicon # TODO: change this to .ico when logo design comes in -->
  </head>

  <body>
    <%  if user_signed_in? %>
      <!-- main navbar -->
      <%= render 'components/main_navbar' %>
    <% end %>

    <%= render partial: 'shared/flash' unless flash.empty? %>
    <%= yield %>
  </body>
</html>
